main {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.view-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.upload-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.confirm-upload-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

input[type='file'] {
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

td:last-child {
  text-align: center;
}

.delete-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

section {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 16px;
  margin: 16px 0;
}

section h2 {
  margin-top: 0;
}

section pre {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.section-container {
  padding-left: 10px;
  position: absolute;
  left: 80%;
  top: 5%;
}

.section-container pre {
  height: 500px;
  overflow-y: scroll;
  text-align: left;
}
